# REQUIREMENTS

# There are no requirementes because we don't even know what tech stack to use. 
# But the word had to be out! 
# In light of what is going one with snakes all over the world, and people, especially in the hotspot of the Atlantic Forest. 
# Satey tuned!
# Soon enough we will know how to build this.
